.banchGraphModern {
    margin-top: 3rem;

    // .banchGraphModern__graph

    &__graph {
        width: 80px;
        height: 180px;

        .highcharts-series-group {
            transform: translateY(-20px);
        }
    }
}
